# Ignorar entorno virtual
env/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar archivos de base de datos
*.db
*.sqlite3

# Ignorar archivos de configuración de paquetes
*.egg-info/

# Ignorar archivos temporales
*.tmp
*.temp

# Ignorar archivos de sistema
Thumbs.db
.DS_Store